* {
    box-sizing: border-box;
}

body {  
    background: #a8ff78;  
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  
    background: linear-gradient(to right, #78ffd6, #a8ff78); 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: #50ea3f;
    box-shadow: 0 0 5px #85111103;
    border-radius: 3px;
    overflow: hidden;
    width:  400px;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: rgb(204, 210, 164) ;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(211, 81, 81);
    font-size: 1rem;
    margin-left: 5px;
}

.fav-container {
    text-align: center;
    padding: 1rem;
    background-color: rgb(152, 232, 154);
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    width: 90px;
}

.fav-meals li img {
    height: 75px;
    width: 75px;
    border: 2px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffff;
    box-shadow: 0 0 5px #85111103;

}

.fav-meals li span {
    font-size: 0.9rem;
}

.meal {
    margin: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 0 5px #85111103;

}

.meal-header {
    position: relative;

}

.meal-header .random {
    position: relative;
    top: 2.5rem;
    background-color: #ffff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;

}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

.meal-body h4 {
    margin: 0;
} 

.meal-body .fav-btn{
    border: none;
    background-color: transparent;
    color: rgb(210, 230, 248);
    font-size: 1.2rem;
    cursor: pointer;

}

.meal-body .fav-btn.active {
    color: #f9af19;
}

